h1 {
  color: #444444;
}

body {
  background-size: cover;
}

.container#main {
  background-color: rgba(230, 230, 230, 0.6);
  border: 2px solid rgb(220, 220, 220);
  border-radius: 3px;
  width: 100%;
}

.vote-alert {
  margin-left: 10px;
}

.rate-success {
  background-color: #7FB592;
  padding: 2px;
  border: 1px solid #659074;
  border-radius: 2px;
}

h6#Punish {
  background-color: #ffc107;
  padding: 2px;
  border-radius: 2px;
}

h6#Request {
  background-color: #28a745;
  padding: 2px;
  border-radius: 2px;
}

h6#Mess {
  background-color: #dc3545;
  padding: 2px;
  border-radius: 2px;
}

h6#General {
  background-color: #17a2b8;
  padding: 2px;
  border-radius: 2px;
}
.alert {
  margin-top:1%;
}

.account-section {
  background-color:  rgba(200, 200, 200, 0.8);
  border: 0.5px solid rgb(150, 150, 150);
  border-radius: 3px;
  padding: 10px;
}

.post-section {
  margin-top: 5px;
  background-color:  rgb(160, 160, 160);
  border: 0.5px solid rgb(130, 130, 130);
  border-radius: 1px;
  padding: 10px;
}


.account-img {
  height: 100px;
  width: 100px;
  margin-right: 2%;
}

.sidebar {
  text-align: center;
  background-color: rgba(200, 200, 200, 0.8);
  border: 0.5px solid rgb(150, 150, 150);
  border-radius: 3px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.sidebar-info {
  line-height: 0.95;
  text-align: left;
  margin-left: 5%;
}
.alert-danger {
  border-radius: 2px;
}

table#members {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 10pt;
}

table#chug {
  /*background-color: #9bb4ab*/;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  table-layout: fixed;
  font-size: 10pt;
  margin-top: 20px;
}

table#chug, th#chug, td#chug {
  border: 1px solid black;
}
