h1 {
  color: #444444;
}

body {
  background-size: cover;
}

.container#main {
  background-color: rgba(230, 230, 230, 0.6);
  border: 2px solid rgb(220, 220, 220);
  border-radius: 3px;
  width: 100%;
}

.vote-alert {
  margin-left: 10px;
}

.success {
  background-color: #7FB592;
  padding: 2px;
  border: 1px solid #659074;
  border-radius: 2px;
}

h6#Punish {
  background-color: #ffc107;
  padding: 2px;
  border-radius: 2px;
}

h6#Request {
  background-color: #28a745;
  padding: 2px;
  border-radius: 2px;
}

h6#Challenge {
  background-color: #007bff;
  padding: 2px;
  border-radius: 2px;
}

h6#Mess {
  background-color: #dc3545;
  padding: 2px;
  border-radius: 2px;
}

h6#General {
  background-color: #17a2b8;
  padding: 2px;
  border-radius: 2px;
}

h6#Bet {
  background-color: #868e96;
  padding: 2px;
  border-radius: 2px;
}

.alert {
  margin-top:1%;
}

.notification {
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: rgb(160, 160, 160);
  margin-bottom: 5px;
  font-size: 11pt;
  padding: 3px;
  border-radius: 2px;
}

.header-link {
}

.notification-link {
  color: black;
}

.notification-header {
  /*padding-left: 0.5em;
  padding-right: 0.5em;*/
  padding: 0.5em;
  background-color: #343a40;
  margin-top: 10px;
  text-align: center;
}

.dropdown-menu {
  min-width: 20em;
}

.divider-right {
  border-right: 0.5px solid rgb(120, 120, 120);
}

.account-section {
  background-color:  rgba(200, 200, 200, 0.8);
  border: 0.5px solid rgb(150, 150, 150);
  border-radius: 3px;
  padding: 10px;
}

.post-section {
  margin-top: 5px;
  background-color:  rgb(160, 160, 160);
  border: 0.5px solid rgb(130, 130, 130);
  border-radius: 1px;
  padding: 10px;
}

.challenge-section {
  margin-top: 5px;
  background-color:  rgb(160, 160, 160);
  border: 0.5px solid rgb(130, 130, 130);
  border-radius: 3px;
  padding: 10px;
}

.bet-section {
  background-color:  rgb(200, 200, 200);
  border: 0.5px solid rgb(130, 130, 130);
  border-radius: 3px;
  padding: 10px;
}

.transaction-section {
  background-color:  rgba(200, 200, 200, 0.8);
  border: 0.5px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 5px;
}

.notification-section {
  background-color: rgb(160, 160, 160);
  padding: 10px;
  border: 0.5px solid rgb(130, 130, 130);
  margin-bottom: 5px;
}

.voting-section {
  background-color: rgb(160, 160, 160);
  padding: 10px;
  border: 0.5px solid rgb(130, 130, 130);
  border-radius: 1px;
  margin-bottom: 5px;
}

.indicator-row {
  height: 25px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
}

.transfer-amount {
  padding: 5px;
  border-radius: 5px;
}

#blue {
  background-color:  rgb(153, 211, 223);
}

#pink {
  background-color: rgb(255, 132, 132);
}

#green {
  background-color: rgb(40, 167, 69);
}

#yellow {
  background-color: rgb(253, 244, 152);
}

#brown {
  background-color: rgb(114, 98, 85);
}

#red {
  background-color: rgb(255, 115, 115);
}



.account-img {
  height: 100px;
  width: 100px;
  margin-right: 2%;
}

.account-img#small {
  height: 60px;
  width: 60px;
}

.right-arrow {
  margin-top: 18px;
  font-size: 24px;
}

.sidebar {
  text-align: center;
  background-color: rgba(200, 200, 200, 0.8);
  border: 0.5px solid rgb(150, 150, 150);
  border-radius: 3px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.sidebar-info {
  line-height: 0.95;
  text-align: left;
  margin-left: 5%;
}
.alert-danger {
  border-radius: 2px;
}

table#members {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 10pt;
}

table#chug {
  /*background-color: #9bb4ab*/;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  table-layout: fixed;
  font-size: 10pt;
  margin-top: 20px;
}

table#chug, th#chug, td#chug {
  border: 1px solid black;
}
