h1 {
  color: #444444;
}

.sidebar {
  text-align: center;
  background-color: #89a19e;
  border: solid #89a19e;
  border-radius: 3px;
}

.sidebar-info {
  line-height: 0.95;
  text-align: left;
  margin-left: 5%;
}
.alert {
  border-radius: 2px;
}

table#chug {
  /*background-color: #9bb4ab*/;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  table-layout: fixed;
  font-size: 10pt;
  margin-top: 20px;
}

table#chug, th#chug, td#chug {
  border: 1px solid black;
}
