{% extends 'layout.html' %}

  {% block scripts %}
  {% endblock %}

  {% block content %}

    <h3 class="border-bottom border-secondary pb-1 mb-4">All challenges</h3>
    {% for challenge in challenges.items %}
      {% if challenge.challenger == current_user %}
        {% set colour = 'blue' %}
        {% set status = 'You are the challenger' %}
      {% elif challenge.challengee == current_user %}
        {% set colour = 'pink' %}
        {% set status = 'You are the target' %}
      {% elif challenge.active %}
        {% set colour = 'yellow' %}
        {% set status = 'Negotiation phase' %}
      {% else %}
        {% set colour = 'brown' %}
        {% set status = 'Inactive challenge' %}
      {% endif %}
      {% if challenge.active and challenge.accepted_by_challengee and challenge.accepted_by_challenger %}
        {% set colour = 'green' %}
        {% set status = 'Active challenge' %}
      {% endif %}
      <div class="media mt-2">
        <figure class="mr-2" align="center">
          <img class="rounded-circle account-img" id="small" src="{{ url_for('static', filename='profile_pics/' + challenge.challenger.image) }}" alt="user_image">
          <figcaption>{{ challenge.challenger.username }}</figcaption>
        </figure>
        <i class="fas fa-angle-right mr-2 right-arrow"></i>
        <figure class="mr-2" align="center">
          <img class="rounded-circle account-img" id="small" src="{{ url_for('static', filename='profile_pics/' + challenge.challengee.image) }}" alt="user_image">
          <figcaption>{{ challenge.challengee.username }}</figcaption>
        </figure>
        <div class="media-body">
          <div class="challenge-section">
            <div class="row mb-2">
              <div class="col-12" align="center">
                <div class="indicator-row" id="{{ colour }}">
                  <small>{{ status }}</small>
                </div>
              </div>
            </div>
            <h5 class="border-bottom border-top border-secondary pb-1 pt-1">{{ challenge.title }}</h5>
            <p>
              <strong>Description:</strong>
              {% for line in challenge.description.splitlines() %}
                {{ line }}<br>
              {% endfor %}
              <strong>Amount:</strong>
              {{ challenge.amount }}.00 ₲
              <span style="display:inline-block; width:20px;"></span>
              <strong>Date:</strong>
              {{ challenge.date.date() }}
            </p>
            {% if not challenge.active %}
              <div class="border-top border-secondary" style="width:100%">
                <small>
                  {{ 'This challenge was completed' if challenge.won else 'This challenge was not completed' }}
                </small>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="row mt-2 mb-2">
      <div class="col-12" align="center">
        {% for page_num in challenges.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if challenges.page == page_num %}
              <a class="btn btn-secondary ml-1 mr-1" href="{{ url_for('posts.all_challenges', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-secondary ml-1 mr-1" href="{{ url_for('posts.all_challenges', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
      </div>
    </div>

  {% endblock %}
