{% extends "layout.html" %}

  {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/challenge.js') }}"></script>
  {% endblock %}

  {% block content %}
    <div class="row">
      <div class="col-12">
        <form method="POST" action="" novalidate>
          {{ form.hidden_tag() }} <!-- In combination with hidden key, prevents certain attacks... -->
          <fieldset class="form-group">
            <legend>{{ bet.title }}</legend>
            <hr>
            <div class="form-group">
              {{ form.description.label(class="form-control-label") }}
              {% if form.description.errors %}
                  {{ form.description(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.description.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.description(class="form-control form-control-lg", onchange="changeButton()") }}
              {% endif %}
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.amount.label(class="form-control-label") }}
                  {% if form.amount.errors %}
                      {{ form.amount(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.amount.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.amount(class="form-control form-control-lg", onchange="changeButton()") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.odds.label(class="form-control-label") }}
                  {% if form.odds.errors %}
                      {{ form.odds(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.odds.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.odds(class="form-control form-control-lg", onchange="changeButton()") }}
                  {% endif %}
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info", id="submit") }}
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="{{ url_for('main.home') }}"><button type="button" class="btn btn-danger" onclick="refuse({{ bet.id }})">Refuse</button></a>
      </div>
    </div>
  {% endblock %}
